@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
p {
  color: #2b2b2b;
  line-height: 1.9;
}
p:last-child {
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
