body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-container{
  width:100%;
  height: 700px;
  object-fit: cover;
  text-align: center;
  position: relative;
}

.logo{
  height: 40%;
  width: 40%;
}

.slide-content{
  padding-bottom: 60px;
  position: absolute;
  color:azure;
}

